/* paddingSides use for padding both header and the main part */

.paddingSides{
  padding: 0 2%;
}

#light{
  background-color: #fff;
  color: hsl(200, 15%, 8%);
}

#dark{
  background-color: hsl(207, 26%, 17%);
  color: #fff;
}

#light ::placeholder, 
#light select, 
#light .searchBar,
#light button,
#light header,
#light .countryInfo,
#light.backButton,
#light.borderCountry{
    color: hsl(200, 15%, 8%);
    background-color: hsl(0, 0%, 98%);
}

#dark ::placeholder, 
#dark select, 
#dark .searchBar,
#dark button,
#dark header,
#dark .countryInfo,
#dark.backButton,
#dark.borderCountry{
    color: #fff;
    background-color: hsl(209, 23%, 22%);
}

.getBold{
  font-weight: 500;
}